body {
    font-family: sans-serif;
}

header{
    background-color: blueviolet;
    color: black;
    
    
}
img{
    border-radius: 50px;
    align-items: flex-start;
}

div{
    
    border-radius: 5px;

}
label{
    
    border-radius: 30px;
}
