* {
    margin:0
    

}

header {
    background-color: #9d02da;


}

h1 {
    background-color: #d1ab01;
    border-radius: 10px;

}

navbar {
    backgroun-color: #d1ab01;
    border-raduius: 5px;
}

