body {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;

}

header{
    background-color: blueviolet;
    margin-top: 0%;
    padding: 10px;
    
}
header.img{
    border-radius: 50px;
}
