* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
        font-family: "Nerko One", cursive;
        font-style: normal;
   outline: none;
  }

body {
    margin: auto;
    padding:0;
    justify-content: center;
    align-items: center;
    display: grid;
  
}

header{
    font-size: 30px;
    background-color: blueviolet;
    image-orientation: flip;
    color: antiquewhite;
    flex-direction: row;
    
}
header img{
    border-radius: 50px;

}


nav img {
    flex-direction: row;
    width: 1250px;
    height: 120px;
    top: 40px;
    left: auto;
    gap: 0px;
    opacity: 0px;



}

.sizebar{
    padding: 20px;
    width: auto;
    border-radius: 20px;

}

.filters {
    padding: 20px;
    width: auto;
    border-radius: 20px;
}


h3{
    padding: 5px;
    width: auto;
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 0;
    font-size: 18px;
    align-items: center;
    display: grid;

  }

