* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
        font-family: "Nerko One", cursive;
        font-style: normal;
   outline: none;
  }

body {
    margin: auto;
    padding:0;
    justify-content: center;
    align-items: center;

}

header{
    font-size: 30px;
    background-color: blueviolet;
    image-orientation: flip;
    color: antiquewhite;
    
}
header.img{
    border-radius: 50px;

}


div.sizebar{
    padding: 20px;
    width: auto;
}



section{
    padding: 20px;
    width: auto;
}

h3{
    padding: 5px;
    width: auto;
}
